{% extends "layout.html" %}
{% block title %}Candidate List{% endblock %}
{% block sub_heading %}view candidate cvs{% endblock %}
{% block sub_content %}
{% for result in results %}
    <div class="row">
        <a href="{{ url_for('.children', folder_id=result['id']) }}">{{ result['title'] }}</a>
    </div>
{% endfor %}

{% for child in children %}
<div class="row">
<div class="media">
  <a class="pull-left" href="{{ child['downloadUrl'] }}">
    <img class="media-object img-polaroid" src="{{ child['thumbnailLink']}}">
  </a>
  <div class="media-body">
    <h4 class="media-heading">{{ child['title'] }}</h4>
  </div>
</div>
</div>
{% endfor %}
    <div class="btn-group">
        <a class="btn btn-small" href="{{ url_for('.list') }}"><i class="icon-th-list"></i> View All Candidates</a>
    </div>

{% endblock %}