{% extends "base.html" %}

{% block title %}welcome{% endblock %}
{% block sub_heading %}take control of your talent acquisition{% endblock %}
{% block content %}
    {% if g.user %}
        <div class="hero-unit">
            <h2>Welcome back, {{ g.user.given_name }}.</h2>
            <div class="lead">
                Who do you want to hire today?
            </div>
        </div>
    {% else %}
        <div class="hero-unit">
            <h2>Get Started and Build Your Team</h2>

            <a class="btn btn-info" href="/login">
                <img src="static/img/google-plus-icon.svg" width="34px;" />
                  Sign in with Google 
            </a>
        </div>
    {% endif %}
{% endblock content %}
